@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World from .NET 7</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div> 

<div id="text-button" onclick="click()">Click</div>
 
<script>
    function click() {
      alert("ボタンがクリックされました！");

    // URLを取得
    //const url = new URL(window.location.href);

    // URLSearchParamsオブジェクトを取得
    //const params = url.searchParams;

    // consoleに受け取ったパラメータを出力
    //console.log(params);

    // パラメータから「username」を取得
    //const session_token = params.get("session_token");

    //document.write(param);
    }
</script>
